# Compiled class
*.class
target

# Package
*.jar

# Maven specific
dependencies.txt

# IDE specific
.vscode
.project
.classpath
.settings

# Mac Specific
.DS_Store
._*

# don't want following image types
*.jpeg
*.png
*.jfif

